.grandParentContainer {
  position: relative;
}

.parentContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 500px; /*requires explicit height*/
  max-width: 300px;
}
