.buttonAdd{
    margin-left: 10px;
    width: 100px;
}

tbody + thead{
    display: none;
}

.container{
    margin-top:20px;
}

.table{
    margin-top:30px;
}

/* .dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
 } */