.buttonAdd{
    margin-left: 10px;
    width: 100px;
}

tbody + thead{
    display: none;
}

.table{
    margin-top:30px;
}

.locationLink {
    border-bottom: 1px solid #453886;
    color: white;
  }
  

.locationLink:hover {
    color: rgb(17, 75, 151);
    text-decoration: none;
  }
